#projects{
    background:#050816;
    padding:80px 0;
}

.projects-container{
    width:92%;
    max-width:1400px;
    margin:auto;
}

#projects h2{
    text-align:center;
    font-size:48px;
    color:#FACC15;
    margin-bottom:5px;
}

.line5{
    width:270px;
    height:5px;
    background:#FACC15;
    margin:auto;
    border-radius:2px;
    margin-bottom:50px;
}

.video-slider{
    overflow:hidden;
    margin-bottom:45px;
}
.track{
    display:flex;
    gap:30px;
    width:max-content;
}

.track-left{
    animation:moveLeft 28s linear infinite;
}

@keyframes moveLeft{

    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(-50%);
    }

}

.track-right{
    animation:moveRight 28s linear infinite;
}

@keyframes moveRight{

    from{
        transform:translateX(-50%);
    }

    to{
        transform:translateX(0);
    }

}

.video-card{
    width:320px;
    height:180px;

    border-radius:20px;

    overflow:hidden;

    border:8px solid #000;

    background:#000;

    flex-shrink:0;

    transition:.35s;
}

.video-card iframe{
    width:100%;
    height:100%;
    border:none;
}
.video-card:hover{
    transform:scale(1.05);

    box-shadow:0 0 25px rgba(0,0,0,.25);
}

.slider:hover .track{
    animation-play-state:paused;
}
/* Row 1 */
.track-left{
    animation: moveLeft 25s linear infinite;
}

/* Row 2 */
.track-right{
    animation: moveRight 25s linear infinite;
}

/* Hover করলে Pause */
.slider:hover .track-left,
.slider:hover .track-right{
    animation-play-state: paused;
}